node_modules
dist
.DS_Store
android/.gradle
android/local.properties
android/app/release
android/app/debug
android/keystore.properties
*.keystore
*.jks
ios/App/Pods
ios/App/build
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata
